.content {
    display: flex;
    justify-content: center;
    height: 100vh;

    .box {
        margin-top: 20px;
    }
    form {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        input{
            width: 200px;
            margin: 10px;
        }

        button{
            width: 200px;
        }
    }
}