.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 5% 10%;
  .newsletter {
    flex: 2;
    h1 {
      /* Heading 03 */

      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height, or 122% */

      letter-spacing: -1.5px;

      color: #000000;
    }

    p {
      width: 70%;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: -0.3px;

      color: #000000;
    }

    form {
      border: 3px solid black;
      display: flex;
      margin-right: 15%;
      input {
        padding: 10px;
        width: 100%;
        border: none;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: -0.3px;

        /* Colors / Grey / Grey 2 */

        color: #a9abbd;
      }

      button {
        background: transparent;
        border: none;
        width: 20%;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: -0.3px;
      }
    }
  }

  .shop {
    flex: 1;
  }
  .help {
    flex: 1;
  }
  .about {
    flex: 1;
  }
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: -0.4px;

    color: #111111;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */

      letter-spacing: -0.2px;

      color: #111111;

      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}
