.navbar{
    background-color: white;
    margin: 0;
    position: fixed;
    width: 100%;
    box-shadow: 10px 5px 5px rgb(211, 208, 208);
    top:0;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        li {
            width: 10%;
            text-align: center;
            margin:5px 20px 5px 20px;
            padding:5px 20px 5px 20px;
            cursor: pointer;

            &:hover {
                font-weight: 600;
            }
        }
    }
}